body{
    margin: 0;
    padding: 0;
    background-color:rgb(104, 28, 28)

}
.nav-link{
   color: bisque;
}
.navbar{
    width: 100%; 
}
.navbar-brand{
    color: bisque;
}


  
  .gallery-images__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery__item {
    text-align: center;
    width: 31%;
    height: 300px;
    margin: 10px;
  }
  
.footer{
    background-color: rgb(104, 28, 28);
    color: antiquewhite;
}

