body{
    margin: 0;
    padding: 0;
    background-color:bisque;
}
.header{
    background-color: rgb(104, 28, 28);
}
.nav-link{
   color: bisque;
}
.navbar{
    width: 100%; 
}   
.m-5{
    display:flex; 
    justify-content: center; 
    color: rgb(121, 121, 121);
}
.card{
    width: 18rem; 
    background-color: rgb(104, 28, 28); 
    color: bisque;
}
.btn{
    background-color: rgb(104, 28, 28); 
    color: bisque;
}
.table{
    border: 2px solid rgb(104, 28, 28);
}
.footer{
    background-color: rgb(104, 28, 28);
    color: antiquewhite;
}

